.logo {
  &-wrapper {
    display: flex;
    align-items: center;
    width: 200px;

    @include tablet {
      padding: 0;
    }
    
    @include mobile {
      width: 170px;
    }

    img {
      height: 80px;
    }

    svg {
      width: 100%;
    }
  }
}