.carousel {
  width: 100%;
  position: relative;
    
  @include tablet {
    
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;

    @include tablet {
      width: auto;
    }
  }

  &__img {
    order: 2;
    width: 55%;

    @include tablet {
      order: 0;
      width: 100%;
      height: auto;
    }
  }

  &__svg {
    margin-right: 10px;
    position: relative;
    top: -3px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    max-width: 1260px;
    margin-top: 50px;
    width: calc(100% - 60px);
    padding: 0 30px 20px;

    & > svg {
      margin: 0 auto;
    }

    @include tablet {
      width: calc(100% - 40px);
      padding: 0 20px 50px;
    }
  }

  &__item {
    display: flex;
    padding: 0;

    @include tablet {
      flex-direction: column;
    }
  }

  &__heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    color: #FFFFFF;
    text-align: center;
    margin: 16px 0 0;

    &-small {
      font-weight: 700;
      font-size: 36px;
      line-height: 60px;
      color: #FFFFFF;
      margin: 0 0 10px;
      max-width: initial;
  
      @include tablet {
        font-size: 32px;
        margin: 0;
        line-height: 50px;
      }
    }

    @include tablet {
      font-size: 36px;
      line-height: 42px;
    }

    span {
      background: linear-gradient(left, #19D6E2, #9960FF);
      background: -webkit-linear-gradient(left, #19D6E2, #9960FF);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__divider {
    height: 2px;
    width: 100%;
    position: absolute;
    z-index: 5;
    background: -webkit-linear-gradient(left, #19D6E2, #9960FF);
    bottom: -8px;
  }

  &__link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 28px;
    margin-top: 10px;
    position: relative;
    width: max-content;

    @include tablet {
      font-size: 18px;
    }
  }

  &__paragraph {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin: 30px 0 0;

    @include tablet {
      font-size: 16px;
      line-height: 24px;
    }

    span {
      color: #637298;
      font-weight: 700;
    }
  }

  .more-arrow {
    display: block;
    right: -16px;
    top: 5px;
    position: absolute;
    width: 8px;

    @include tablet {
      top: 4px;
    }
  }

  .slick-dots {
    display: flex !important;
  }

  .slick-dots li {
    background: transparent;
  }

  .slick-dots li button:before {
    font-size: 40px;
    opacity: 1;
    color: #637298;
  }

  .slick-dots li.slick-active button:before {
    font-size: 24px;
    opacity: 1;
    color: #202742;
    z-index: 1;
    display: none;

    @include tablet {
      font-size: 24px;
    }
  }

  .slick-dots li.slick-active button:after {
    content: "";
    background: url('carousel_active.svg');
    width: 15px;
    height: 15px;
    position: absolute;
    left: 16px;
    top: 17px;
  }
}
