.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  width: 100%;
  z-index: 1;
  background-color: #34BBFF;
  background-image: url(space.png);
  padding-bottom: 100px;
  position: relative;

  & > span {
    position: absolute;
    top: -99px;
  }

  &__heading {
    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 111px;
    color: #FFFFFF;
    margin: 25px 0 30px;

    @include tablet {
      font-size: 32px;
    }

    @include mobile {
      font-size: 26px;
      line-height: 32px;
      margin: 20px 0;
    }
  }

  &__players {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    width: calc(100% - 60px);
  }

  &__player {
    display: flex;
    height: 300px;
    background: #1EACF4;
    padding: 50px;

    &:nth-child(odd) {
      background: rgba(255, 255, 255, 0.22);
    }

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    &-expanded {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 13.5px;
      line-height: 25px;
      color: #FFFFFF;
      text-align: left;
      margin: 0 0 15px;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 50px;
      justify-content: center;

      @include tablet {
        margin-left: 0;
      }
    }

    @include tablet {
      height: auto;
      flex-direction: column;
    }

    @include mobile {
      
    }

    &-img {
      border-radius: 50%;
      max-width: 220px;
      height: auto;
      margin: auto;

      @include tablet {
        width: 100%;
      }
    }

    &-name {
      font-family: 'Gloria Hallelujah';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 63px;
      text-align: center;
      margin: 0;
      color: #FFFFFF;
    }

    &-description {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */


      color: #FFFFFF;
      margin: 0;
    }

    &-socials {
      display: flex;
      justify-content: center;

      svg + svg {
        margin-left: 30px;
      }

      &-icon {
        background: transparent;
        border: 0;
        height: max-content;
        display: flex;
        align-items: center;

        &:not(:last-of-type) {
          padding-right: 25px;
        }

        svg {
          width: 24px;
        }
    
        &--discord {
          &:hover,
          &:focus {
            path {
              fill: #fff;
            }
          }
        }
    
        &--twitter {
          &:hover,
          &:focus {
            path {
              fill: #fff;
            }
          }
        }
    
        &--instagram {
          &:hover,
          &:focus {
            path {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}