.footer {
  align-items: center;
  background: #202742;
  display: flex;
  padding: 60px 0;
  width: 100%;
  padding: 20px 30px 60px;
  width: calc(100% - 60px);
  z-index: 1;

  a {
    color: white;
    text-decoration: none;
    transition: all 0.1s linear;

    &:visited {
      color: white;
    }

    &:hover,
    &:active {
      color: #34BBFF;
    }
  }

  @include tablet {
    padding: 60px 30px;
  }

  @include mobile {
    padding: 30px;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 200px;
    align-items: center;
  }

  &__menu {
    position: relative;
  }

  &__menu-item {
    position: relative;
    color: white;
    font-size: 14px;
    line-height: 21px;
    min-width: 120px;

    &:first-of-type {
      margin-bottom: 20px;

      a {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #637298;
      }
    }

    &:not(:first-of-type) {
      position: relative;
      color: white;
      font-size: 14px;
      line-height: 21px;
      padding: 7.5px 0;
    }
  }

  &__divider {
    height: 2px;
    width: 100%;
    position: absolute;
    z-index: 5;
    background: -webkit-linear-gradient(left, #19D6E2, #9960FF);
    bottom: -8px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 14px;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__button {
    background: linear-gradient(93.74deg, #09BECA -12.52%, #9A68F3 125.6%);
    border-radius: 10px;
    border: 0;
    padding: 12px 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    width: 100%;
    max-width: 220px;
    padding: 16px 0 10px;
    height: 50px;
    user-select: none;
    transition: all .25s;

    &:hover,
    &:active {
      transform: scale(1.1);
    }

    @include tablet {
      font-size: 16px;
      padding: 14px 0 10px;

      &:hover,
      &:active {
        transform: initial;
      }
    }
  }

  &__right {
    @include tablet {
      display: none;
    }
  }

  &__socials {
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 400px;
      width: 100%;
    }
  }

  &__legal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: center;
    margin: 0 auto;

    @include tablet {
      margin-top: 10px;
      align-items: center;
      display: flex;
    }

    &-rights {
      color: #797979;
      font-size: 14px;
      margin: 6px 0 0;
    }
  }

  .logo-wrapper {
    border: 0;
    padding: 0;

    @include tablet {
      width: 100%;
      min-width: initial;
      max-width: 400px;
    }
  }

  .social-wrapper {
    display: flex;
    margin: 0;
    justify-content: space-between;
    max-width: initial;
    height: 50px;
    margin: 30px 0;

    @include tablet {
      height: 30px;
      max-width: 280px;
      margin: 30px 0;
    }
  }

  .social-icon {
    padding: 0;

    svg {
      width: 40px;
      height: 100%;
      max-width: 40px;
      height: 40px;
    }

    &:nth-child(2) {
      justify-content: center;
    }

    &:nth-child(3) {
      justify-content: flex-end;
    }

    &:nth-child(4) {
      justify-content: flex-end;
    }
  }

  &__socials {
    margin-top: 20px;
    display: flex;
    width: 100%;
    &-heading {
      font-weight: 800;
      font-size: 32px;
      line-height: 40px;
      color: white;
      margin: 0;

      @include tablet {
        font-size: 24px;
        line-height: 30px;
        width: initial;
        display: initial;
      }
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1260px;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__button-inverse {
    background: transparent;
    border-radius: 10px;
    border: 0;
    padding: 12px 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: white;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    width: 100%;
    max-width: 220px;
    padding: 16px 0 10px;
    height: 50px;
    user-select: none;
    transition: all .25s;

    &:hover,
    &:active {
      color: black;
      background: white;
      transform: scale(1.1);
    }
    
    @include tablet {
      font-size: 16px;
      padding: 14px 0 10px;

      &:hover,
      &:active {
        transform: initial;
      }
    }
  }

  .menu-wrapper {
    display: block;
    margin: 0;
    
    ul {
      flex-direction: column;
      text-align: left;
    }

    a {
      text-align: left;
      line-height: 60px;
      padding: 0;
    }
  }

  .logo-wrapper {
    justify-content: center;
    margin: 0 0 30px;

    img {
      height: 130px;
      top: 10px;
      position: relative;
    }
  }
}