.header {
  background-color: #202742;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__gradient {
    display: none;

    @include tablet {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 100;
      width: 100%;
      height: 100vh;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100px;
    width: calc(100% - 60px);
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1260px;

    @include tablet {
      z-index: 20;
      margin: 0;
      padding: 0;
      width: 100%;
      justify-content: flex-end;

      .logo-wrapper {
        z-index: 60;
        padding-left: 20px;
        margin-right: auto;
      }
    }
  }
}
