.partners {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  @include tablet {
  }

  &__logos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;

    @include tablet {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      display: initial;
      margin: 30px 0;

      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__button {
    background: linear-gradient(93.74deg, #09BECA -12.52%, #9A68F3 125.6%);
    border-radius: 10px;
    border: 0;
    padding: 12px 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    width: 100%;
    max-width: 165px;
    padding: 16px 0 10px;
    height: 50px;
    user-select: none;

    @include tablet {
      margin-top: 30px;
      font-size: 18px;
      padding: 14px 0 10px;
    }
  }

  &__logo {
    background: #3A405A;
    border-radius: 10px;
    height: 220px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;

    @include tablet {
      display: inline-block;
      height: 180px;
      width: auto;
      padding: 20px;
      min-width: 180px;

      &:not(:last-of-type) {
        margin-right: 10px;
      }

      svg {
        // max-width: 90px;
      }
    }

    &:hover {
      background: white;
      cursor: pointer;
    }
  }

  &__divider {
    height: 2px;
    width: 100%;
    position: absolute;
    z-index: 5;
    background: -webkit-linear-gradient(left, #19D6E2, #9960FF);
    bottom: -8px;
  }

  &__content {
    display: flex;
    width: 100%;
    gap: 65px;

    @include tablet {
      flex-direction: column;
      gap: 0;
    }
  }

  &__text {
    max-width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      order: 1;
    }
  }

  &__logos {
    @include tablet {
      order: 0;

      width: calc(100vw - 40px);
      left: -20px;
      position: relative;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1260px;
    width: calc(100% - 60px);
    padding: 0 30px;

    & > svg {
      width: 65px;
    }

    @include tablet {
      width: calc(100% - 40px);
      padding: 0 20px;
    }
  }

  &__link {
    color: white;
    text-decoration: none;
    font-size: 24px;
    line-height: 30px;
    position: relative;
    width: max-content;
    position: relative;

    @include tablet {
      font-size: 18px;
    }
  }

  &__paragraph {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin: 30px 0 0;

    @include tablet {
      font-size: 16px;
      line-height: 24px;
    }

    span {
      color: #637298;
      font-weight: 700;
    }
  }

  &__heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    color: #FFFFFF;
    max-width: 400px;
    margin: 30px 0 50px;
    text-align: center;

    @include tablet {
      font-size: 36px;
      line-height: 42px;
      margin: 5px 0 0;
    }

    &-small {
      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
      color: #FFFFFF;
      margin: 0 0 10px;
      max-width: initial;
  
      @include tablet {
        font-size: 32px;
        line-height: 32px;
      }
    }

    span {
      background: linear-gradient(left, #19D6E2, #9960FF);
      background: -webkit-linear-gradient(left, #19D6E2, #9960FF);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  
  .more-arrow {
    display: block;
    right: -16px;
    top: 6px;
    position: absolute;
    width: 8px;
  }
}