.roadmap {
  background: linear-gradient(167.23deg, #665DDD 0%, #B878F2 21.35%, #9DA4EE 43.23%, #89C4EB 63.54%, #7CBBEB 82.81%, #4296EB 100%);
  width: 100%;
  height: max-content;
  z-index: 2;

  &__divider {
    height: 2px;
    width: 100%;
    position: absolute;
    z-index: 5;
    background: -webkit-linear-gradient(left, #19D6E2, #9960FF);
    bottom: -8px;
  }

  &__content {
    position: relative;
    max-width: 1260px;
    padding: 0 30px 50px 180px;
    margin: 300px auto 0;

    @include tablet {
      padding: 0 30px 50px;
      // margin: calc(100vw / 3) auto 0;
      margin: 50px auto 0;
    }
  }

  &__tree {
    position: absolute;
    left: 50px;
    top: -400px;

    @include tablet {
      display: none;
    }
  }

  &__heading {
    font-weight: 700;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
    max-width: 500px;
    margin: 0;
    // opacity: .25;
    // transition: opacity 1s cubic-bezier(0.16, 1, 0.3, 1),transform 1s cubic-bezier(0.16, 1, 0.3, 1);
    // transform: translateX(-15px);

    &.active {
      // transform: translateX(0);
      // opacity: 1;
    }

    @include tablet {
      font-size: 36px;
      line-height: 42px;
      margin: 0 0 10px;
    }
  }

  &__platform {
    position: relative;

    svg {
      position: absolute;
      left: -58px;
      top: 65px;

      @include tablet {
        display: none;
      }
    }
  }

  &__link {
    color: white;
    text-decoration: none;
    font-size: 26px;
    line-height: 30px;
    margin-top: 10px;
    position: relative;

    @include tablet {
      font-size: 18px;
    }
  }

  &__text {
    max-width: 430px;
    color: white;
    font-size: 26px;
    line-height: 39px;
    margin: 0;
    
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.16, 1, 0.3, 1),transform 1s cubic-bezier(0.16, 1, 0.3, 1);
    transform: translateX(-15px);

    @include tablet {
      font-size: 18px;
      line-height: 32px;
      max-width: initial;
      transform: translateY(-15px);
    }

    span {
      font-weight: bold;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &.active {
      .roadmap__text {
        opacity: 1;
        transform: translateX(0);

        @include tablet {
          transform: translateY(0);
        }
      }

      .roadmap__item-image {
        transform: translateX(0);

        @include tablet {
          transform: scale(1);
        }

        img {
          opacity: 1;
        }
      }
    }

    @include tablet {
      flex-direction: column;
      align-items: initial;
    }

    &-content {
      align-items: center;
      display: flex;
    }
    
    &-image {
      max-width: 640px;
      margin-left: auto;
      padding-left: 50px;

      transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1);
      transform: translateX(25%);

      @include tablet {
        margin: 0;
        padding: 0;
        max-width: initial;
        transform: scale(.75);
      }

      img {
        position: relative;
        width: 100%;

        opacity: 0.25;
      }
    }

    @include tablet {

    }

    svg {
      @include tablet {
        display: none;
      }
    }

    &--0 {
      margin-top: 80px;
      min-height: 520px;

      @include tablet {
        min-height: initial;
      }

      svg {
        position: absolute;
        left: 131px;
        top: 463px;
      }
    }

    &--1 {
      margin-top: 80px;
      min-height: 520px;

      @include tablet {
        min-height: initial;
      }

      svg {
        position: absolute;
        left: 131px;
        top: 463px;
      }
    }

    &--2 {
      margin-top: 134px;
      min-height: 470px;

      @include tablet {
        margin-top: 40px;
        min-height: initial;
      }

      svg {
        position: absolute;
        left: 131px;
        top: 1108px;
      }
    }

    &--3 {
      margin-top: 202px;
      min-height: 320px;

      @include tablet {
        margin-top: 40px;
        min-height: initial;
      }

      svg {
        position: absolute;
        left: 131px;
        top: 1704px;
      }
    }

    &--4 {
      margin-top: 202px;
      min-height: 400px;

      @include tablet {
        margin-top: 40px;
        min-height: initial;
      }

      svg {
        position: absolute;
        left: 131px;
        top: 2266px;
      }
    }
  }

  .more-arrow {
    display: block;
    right: -14px;
    top: 7px;
    position: absolute;
    width: 8px;
    left: initial;
  }
}
