.faq {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  position: relative;
  background: #393F5A;

  &__back {
    position: absolute;
    top: 0;
    margin: 0 !important;

    @include tablet {
      width: 100%;
    }

    &-2 {
      position: absolute;
      bottom: -441px;
      width: 100%;

      @include tablet {
        display: none;
      }
    }
  }

  a {
    color: #9960FF;
    word-break: break-word;

    &:visited {
      color: #9960FF;
    }
  }

  & > span {
    position: absolute;
    top: -99px;
  }

  & > svg {
    margin: 50px auto 0;
  }

  &__heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    color: #FFFFFF;
    max-width: 400px;
    margin: 20px auto 30px;
    text-align: center;

    @include tablet {
      font-size: 36px;
      line-height: 42px;
    }

    span {
      background: linear-gradient(left, #19D6E2, #9960FF);
      background: -webkit-linear-gradient(left, #19D6E2, #9960FF);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__list {
    margin: 0 auto 70px;
    max-width: 50%;
    width: 100%;
    z-index: 1;

    @include tablet {
      max-width: 75%;
    }

    @include mobile {
      max-width: 100%;
      width: calc(100% - 60px);
    }

    &-item {
      -webkit-tap-highlight-color: transparent;
      border-radius: 14px;
      
      summary {
        font-size: 20px;
        line-height: 24px;
        padding: 20px 60px 20px 20px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        width: calc(100% - 80px);

        &:focus{
          outline: none;
        }

        @include mobile {
          padding: 20px 60px 20px 20px;
        }

        &:-webkit-direct-focus {
          outline: none;
        }
        
        &::marker {
          content: '';
        }

        &::-webkit-details-marker {
          display:none;
        }

        svg {
          path {
            transition: all .25s ease;
          }
          min-width: 20px;
          transition: all .25s ease;
          transform: rotate(0deg);
          margin-left: 20px;
          // position: relative;
          position: absolute;
          right: 20px;
        }

        // &::after {
        //   transition: transform .2s ease;
        //   content: " "; 
        //   width: 0; 
        //   height: 0; 
        //   border-top: 10px solid transparent;
        //   border-bottom: 10px solid transparent;
        //   border-left: 10px solid #fff;
        //   position: absolute;
        //   right: 20px;
        //   top: 22px;

        //   @include mobile {
        //     right: 30px;
        //   }
        // }
      }

      &[open] {
        summary {
          &::after { 
            content: " "; 
            width: 0; 
            height: 0; 
            position: absolute;
            right: 20px;
            top: 25px;
            transform: rotate(90deg);

            @include mobile {
              right: 30px;
            }
          }
        }

        svg {
          path {
            fill: white;
          }

          transform: rotate(45deg);
        }
      }

      &:hover {
        cursor: pointer;
      }

      &:not(:first-of-type) {
        margin-top: 20px;
      }

      background: #202742;

      &-paragraph {
        font-size: 16px;
        line-height: 25px;
        padding: 0 20px 20px;
        margin: 0;
        cursor: auto;

        span {
          font-weight: 800;
          margin-right: 10px;
        }
      }
    }
  }
}
