.mint-page {
  background: url('bg.png');
  background-size: cover;
  background-position: center;
  height: 100%;

  &__kek1 {
    position: absolute;
    left: -252px;
    top: -36px;

    @include mobile {
      display: none;
    }
  }

  &__kek2 {
    position: absolute;
    left: -180px;
    top: -296px;

    @include mobile {
      display: none;
    }
  }

  &__kek3 {
    position: absolute;
    right: -100px;
    top: -259px;

    @include mobile {
      display: none;
    }
  }

  &__box {
    position: relative;
    padding: 50px 100px;
    background: linear-gradient(45deg, #1EACF4 0%, #1EACF4 56%, #34BBFF 56%, #34BBFF 100%);
    width: 75%;
    max-width: calc(1000px);
    display: flex;
    justify-content: space-between;

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-left {
      position: relative;

      @include mobile {
        display: flex;
        justify-content: center;
      }

      img {
        @include mobile {
          width: 75%;
        }
      }
    }

    @include mobile {
      flex-direction: column;
      width: 100%;
    }
  }

  &__live {
    margin: 0 auto;
    
    @include mobile {
      width: 50%;
    }
  }

  &__raffle-added {
    color: yellow;
    margin-bottom: 20px;
    word-break: break-all;
    padding: 0 20px;
    text-align: center;
  }

  &__not-wl,
  &__not-raffle {
    color: white;
    margin-top: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    text-align: center;
  }

  &__name {
    font-weight: 800;
    font-size: 32px;
    color: white;
    margin: 0 0 20px;
    min-height: 37px;
  }

  &__error {
    color: red;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    padding: 0 20px;
    word-break: break-all;
  }

  &__success {
    color: greenyellow;
    text-align: center;
    padding: 0 20px;
    word-wrap: break-all;

    a {
      font-weight: 800;
      color: greenyellow;
      text-decoration: none;

      &:hover {
        color: #F772FF;
      }
    }
  }

  &__again {
    display: flex;
    border: 0;
    height: 50px;
    align-items: center;
    padding: 0;
    width: 230px;
    text-align: center;
    transition: all 0.1s linear;
    font-weight: 800;
    font-size: 30px;
    line-height: 25px;
    margin-top: 20px;

    &-name {
      padding-right: 10px;
      padding-left: 10px;
      margin: 0;
      width: 100%;
      color: #34333C;
      font-weight: 800;
      font-size: 20px;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      color: white;
      background: #9932cc;

      .mint-page__again-name {
        color: white;
      }
    }
  }

  h5 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: white;
    margin: 10px 0;
  }

  &__num {
    display: flex;
    width: 230px;
    justify-content: center;
    background: #fff;
    padding: 4px 0;
    margin-top: 15px;

    &-button {
      font-size: 30px;
      font-weight: 800;
      color: black;
      padding: 0 10px;
      width: 100%;
      user-select: none;

      &:first-of-type {
        text-align: right;
      }

      &:hover {
        cursor: pointer;
      }

      &:hover,
      &:focus {
        color: #34BBFF;
      }

      &-off {
        pointer-events: none;
        width: auto;

        &:hover {
          cursor: auto;
        }
      }
    }
  }

  &__social {
    padding: 50px 0;
    background: url(bg.png);
    width: 100%;
    display: flex;
    justify-content: center;

    @include mobile {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 80px;

    @include tablet {
      top: 80px;
    }

    .wallet-wrapper {
      margin: 0;
      max-width: max-content;
      flex-basis: initial;
      margin: 70px auto 0;

      @include tablet {
        display: flex;
      }

      @include mobile {
        margin: 20px auto 0;
      }
    }

    .wallet-wrapper__button {
      &:hover,
      &:focus {
        background: #FBA41C;
        box-shadow: none;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: white;
      margin: 0;
      font-weight: 800;
      font-size: 42px;
      line-height: 52px;

      @include mobile {
        font-size: 32px;
      }
    }

    h5 {
      margin: 30px 0 0 0;
    }
  }

  &__buy {
    display: flex;
    border: 0;
    height: 50px;
    align-items: center;
    padding: 0;
    width: 230px;
    text-align: center;
    transition: all 0.1s linear;
    font-weight: 800;
    font-size: 30px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #FBA41C;
    color: white;

    &-name {
      padding-right: 10px;
      padding-left: 10px;
      margin: 0;
      width: 100%;
      color: white;
      font-weight: 800;
      font-size: 30px;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      color: white;

      .mint-page__buy-name {
        color: white;
      }
    }
  }

  &__count {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: white;
      margin: 0;
      font-weight: 800;
      font-size: 72px;
      line-height: 72px;

      @include mobile {
        font-size: 32px;
      }
    }

    span {
      font-weight: 800;
      font-size: 72px;
      line-height: 72px;

      @include mobile {
        font-size: 32px;
      }
    }
  }
}
