.statistics {
  width: 100%;
  padding: 50px 0 85px;
  background-image: url(bg.png);

  @include tablet {
    padding: 50px 0 40px;
  }

  @include mobile {
    padding: 20px 0;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    max-width: 1260px;
    margin: 0 auto;
  }

  &__row {
    &:first-child td {
      border-top: 0;
    }

    &:last-child td {
      border-bottom: 0;
    }
  }

  &__column {
    text-align: center;
    padding: 0;
    width: 25%;

    svg {
      height: 60px;
      width: auto;
      margin-bottom: 32px;

      path {
        fill: #FBA41C;
      }
    }

    @include tablet {
      padding: 20px 12px;

      svg {
        height: 40px;
      }
    }

    @include mobile {
      width: 50%;

      svg {
        height: 30px;
      }
    }

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  &__label,
  &__value {
    color: #34BBFF;
  }

  &__label {
    text-transform: uppercase;
    margin: 4px 0 20px;
    font-weight: 800;
    font-size: 32px;
    line-height: 45px;

    @include tablet {
      font-size: 18px;
      line-height: 18px;
    }

    @include mobile {    margin: 20px 0;
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__value {
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;    color: #ffffff;

    &--countdown {
      font-variant-numeric: tabular-nums;
    }

    @include tablet {
      font-size: 36px;
      line-height: 36px;
    }

    @include mobile {
      font-size: 24px;
      line-height: 24px;

      &--countdown {
        font-size: 18px;
      }
    }
  }

  &__button {
    display: flex;
    border: 0;
    height: auto;
    align-items: center;
    padding: 0;
    width: 100%;
    text-align: center;
    transition: all 0.1s linear;
    margin: 20px auto 0;
    background: white;
    max-width: 275px;
    text-decoration: none;
    color: black;

    &:visited {
      color: black;
    }

    @include tablet {
      max-width: 225px;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      color: white;
      background: #9932cc;
      box-shadow: 0 0 10px 2px rgb(153 50 204);
    }

    &-title {
      padding: 20px 10px;
      margin: 0;
      width: 100%;
      text-transform: uppercase;
      font-size: 20px;

      @include tablet {
        padding: 16px 8px;
      }
    }
  }
}
